#face {
    position: absolute;
    bottom: 0;
    img{
    width:240px;
    height:320px;
    @media (max-width: 1000px) {
        width: 180px;
        height: 240px;
        
    }
    @media (max-width: 768px) {
        width: 120px;
        height: 160px;
        
    }
    }
}


#pupil {
    position: inherit;

    width: 14px;
    height: 14px;
    background: #000;
    border-radius: 50%;
    @media (max-width: 1000px) {
        width: 10px;
        height: 10px;
    }
    @media (max-width: 768px) {
        width: 5px;
        height: 5px;
    }
}

#eye {
    position: absolute;
    top: 88px;
    /* adjust as needed */
    left: 70px;
    /* adjust as needed */
    width: 35px;
    height: 35px;
    background: #ccc;
    border-radius: 50%;
    @media (max-width: 1000px) {
        top: 65px;
        left: 53px;
        width: 26px;
        height: 26px;
    }
    @media (max-width: 768px) {
        top: 44px;
        left: 35px;
        width: 17px;
        height: 17px;
    }
}

#eye2 {
    position: absolute;
    top: 88px;
    /* adjust as needed */
    left: 124px;
    /* adjust as needed */
    width: 35px;
    height: 35px;
    background: #ccc;
    border-radius: 50%;
    @media (max-width: 1000px) {
        top: 65px;
        left: 93px;
        width: 26px;
        height: 26px;
    }
    @media (max-width: 768px) {
        top: 44px;
        left: 62px;
        width: 17px;
        height: 17px;
    }
}

#pupil2 {
    position: inherit;
    width: 14px;
    height: 14px;
    background: #000;
    border-radius: 50%;
    @media (max-width: 1000px) {
        width: 10px;
        height: 10px;
    }
    @media (max-width: 768px) {
        width: 5px;
        height: 5px;
    }
}