/*-----Variables-----*/
$violet-color: #5600a7;
$light-blue-color: #3895b9;
$lightest-yellow:#d9ff88;
$general-bg:#58fa22;
.loading{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: 99;
    background: $general-bg;
    display: grid;
    place-items: center;
    font-family: "Orbitron", sans-serif;
    &__box{
        position:relative;
        width: 500px;
        height: 200px;
        border: 3px solid $light-blue-color;
        border-top:3px solid $violet-color;
        border-bottom: 3px solid $violet-color;
        @media (max-width: 600px){
            &{
                width: 90%;
            }
        }
    }
    &__bar{
        width: 90%;
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        background: #ccc;
        border-radius: 2px;
        height: 10px;
        &--inner{
            height: 100%;
            width: 0;
            border-radius: 2px;
            background: #aeff00;
        }
    }
    &__text{
        position: relative;
        color: #fff;
        padding: 1rem;
        font-size: 20px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 355px){
            &{
                font-size: 17px;
            }
        }
        &--dot{
            width: 15px;
            height: 15px;
            margin: 0 3px;
            border-radius: 50%;
            background: white;
            animation: pulse 2s infinite;
            @keyframes pulse {
                0% {
                    opacity: 0;
                    background: $lightest-yellow;
                }
                33% {
                    opacity: 1;
                }
                66% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                    background: $lightest-yellow;
                }
            }
        }
        &--border{
            width: 85%;
            height: 1px;
            background: $violet-color;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__counter{
        position: absolute;
        top: 70%;
        left: 0;
        color: white;
        font-size: 20px;
        font-weight: 700;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        &--number{
            color: $violet-color;
        }
    }
    &__width_animation{
        animation: width_animation 1s forwards;
        @keyframes width_animation {
            0% {
                width: 85%;
            }
            100% {
                width: 280px;
            }
        }
    }
}
span{
    color: $violet-color;
}
.transition-circle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: $light-blue-color; /* Change the background color as needed */
    border-radius: 50%;
    z-index: 1000; /* Ensure the circle is on top of other elements */
    transition: width 1s ease-out, height 1s ease-out; /* CSS transition for width and height */
}